<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm" style="margin-bottom: 2%" *ngIf="showMenu()" id="menu">
<div class="container">
  <a class="navbar-brand" routerLink="painelControle">
    <i class="fa-solid fa-gears"></i>
  </a>
  <button class="navbar-toggler" type="button"
          data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false"
          (click)="isCollapsed = !isCollapsed" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav" [collapse]="isCollapsed" [isAnimated]="true">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="eventos">Eventos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="palestrantes">Palestrantes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="contatos">Contatos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="painelControle">Painel de Controle</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item dropdown" dropdown>
        <a dropdownToggle class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false" style="cursor: pointer">
          Oswaldo
        </a>
        <div *dropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="perfil">
            Perfil
          </a>
          <div role="separator" class="divider"></div>
          <a class="dropdown-item" routerLink="/user/login">
            Sair
          </a>
        </div>
      </li>
    </ul>
  </div>
</div>

</nav>
